#python stuff
.venv/
.pylintrc
__pycache__/
cache/

#django stuff
.vscode
.idea

#django stuff
db.sqlite3
media/
static

# Секреты и настройки
.env
# Файлы данных (если они огромные или временные)
data.json