{% extends "base.html" %}
{% load static %}

{% block title %}Корзина — Pharma{% endblock title %}

{% block content %}
    {# 1. Хлебные крошки (оставляем в основном файле, они не меняются) #}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url 'home:index' %}">Home</a> <span class="mx-2 mb-0">/</span> 
            <strong class="text-black">Cart</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        {# 2. ГЛАВНЫЙ КОНТЕЙНЕР (Мишень для HTMX) #}
        {# Всё, что внутри этого div, будет заменяться при нажатии на кнопки + или - #}
        <div id="cart-container">
            {% include "carts/includes/included_cart.html" %}
        </div>

      </div>
    </div>
{% endblock content %}




    